/* -----> Configuração geral da pagina <----- */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: rgba(250, 201, 4, 0.03);
}

head {
  background-color: #f4ce0e;
}

h1 {
  text-align: center;
  margin-top: 5px;
}

/* -----> Imagem <----- */

.image-container img {
  width: 10%;
  height: auto;
  position: relative;
  top: 0px;
  left: 10px;
}


/* -----> Menu <----- */


.collapse {
  background-color: #5e5c6b74;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
    top: 35px;
}

li a:hover {
  background-color: #3234324f; 
  color: #e4e1e1; 
  border-radius: 5px;
  text-align: auto;
  color: white;
}

.nav-item {
  color: yellow;
}

/* -----> Tabela <----- */

.table-container {
  border-radius: px;
  box-shadow: 1px 1px 5px 5px #8f8f8b;
  width: auto;
  text-align: center;
}

table {
  position: relative;
  width: 0%;
  border-collapse: collapse;
  margin-top: 0px;
}

th {
  background-color: #91ff3012;
  border-right: 10px solid #e3090513;
  border-bottom-color: 1px solid #e40fef02;
  width: center;
  text-align: center;
}

td {
  border-right: 0px solid #f18e0c00;
  border-bottom-color: 1px solid #e7000006;
}



